<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Ionic 4 Components: Action Sheets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="action-sheets-basic-page">
  <ion-button expand="block" (click)="openMenu()">
    Show Action Sheet
  </ion-button>
  <ion-list>
    <ion-item>
      <ion-label>something1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>something2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>something3</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>something4</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>something5</ion-label>
    </ion-item>
  </ion-list>
  <ion-input placeholder="Something"></ion-input>
</ion-content>
